.website-name {
    font-size: 30px;
}

.name-icon {
    margin-right: 10px;
    color: red;
}

.web-name {
    color: black;
}

@media only screen and (max-width: 600px) {
    .website-name {
        text-align: center;
    }
}